/*global*/
:root{
    --primary: rgb(182, 92, 19)
    --secondary: rgb(16, 139, 16)
}
html{
    font-size: 62.5%;/* 10px=1rem*/
}
*{
    margin:0;
    padding:0;
}
body{
    font-family: arial;
}
h2{
    text-align: center;
    margin: lrem 0;
    font-size: 2.4rem;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    max-width: 100%;
}
a{
text-decoration: none;
color: white;
font-size: 2rem;
}
@media(max-width: 768px){
    .flex-header{
        flex-direction: column;
    }
    .flex-header-v{
        height: 20vh;
        text-align: center;
    }
}
/*header*/
.site-init{
    background-image: url(./realEstate-img-main/header.jpg);
    background-size: cover;
    height: 40vh;
    color: white;
    font-size: 3rem;
}
.menu a{
    margin-right: 2rem;
}
.site-init p{
    font-size: 2rem;
}
.site-second{
    background-color: black;
    color: white;
}
@media(max-width:768px){
    .site-init{
        height: 22vh;
    }
    .site-init p{
        font-size: 1.5rem;
    }
}
.site-third{
    background-image: url(./realEstate-img-main/highlight.jpg);
    background-size: cover;
    height: 30vh;
    color: white;
    font-size: 3rem;
}
.site-forth{
    background-image: url(./realEstate-img-main/destacada3.jpg);
    background-size: auto;
    height: 30vh;
    color: white;
    font-size: 3rem;
}
.site-fith{
    background-color: black;
    background-size: auto;
    height: 13vh;
    color: white;
    font-size: 1.7rem;
}
/*main*/
main{
    width: 5rem;
    margin-right: 2rem;
}
.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
/*utilities*/
.flex-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35vh;
}
.container{
        width: 80%;
        margin:0 auto
}
.btn{
    display: block;
    font-size: 1.6rem;
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}
.flex-about .btn{
    background-color: orangered;
    padding: 1rem;
    font-size: 1.4rem;
    width: 250px;
    text-align: center;
}
.flex-about .btn2{
    background-color: orangered;
    padding: 1rem;
    font-size: 1.4rem;
    width: 250px;
    text-align: center;
    
}
/*about-us*/
.flex-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media(max-width: 768px){
    .flex-about{
        flex-direction: column;
    }
}
/*house item*/
.house-item{
    background-color: #dedede;
    width: 40rem;
}
.price{
    color: green;
    font-weight: bold;
}
/*contact form*/
fieldset{
    padding: 1rem;
}
legend,label,input{
    font-size: 1.6rem;
}
.input-container{
    margin: 1rem;
}
.input-container input,
.input-container textarea{
    width: 70%;
    background-color: #dedede;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width: 10rem;
    text-align: right;
    margin-right: 1rem;
}
.dot{
    height: 2.3rem;
    width: 2.3rem;
    background-color: #dedede;
    border-radius: 50%;
    display: inline-block;
}